albumentations==0.5.2
numpy==1.17.4
pandas==0.25.3
torchvision==0.8.2
tqdm==4.40.2
matplotlib==3.3.3
typing==3.6.4
joblib==0.13.2
opencv_python==4.2.0.34
setuptools==49.2.0
torch==1.7.1
ipython==7.19.0
imageio==2.9.0
